# Python --------------
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.venv/

# Selenium---------------
chromedriver.log
geckodriver.log

# IDE ---------------
.vscode/
.idea/
*.swp
*.swo

# OS --------------
.DS_Store
Thumbs.db